---
layout: compress
---
<div style="text-align: center; margin: 40px 0;">
  <a href="https://gitee.com/yv-deshui" target="_blank" style="
    display: inline-block;
    padding: 14px 32px;
    background-color: #c7000b;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
  " onmouseover="this.style.background='#a00009'" onmouseout="this.style.background='#c7000b'">
    访问我的项目
  </a>
</div>
<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
