---
layout: compress
---
<div style="text-align: center; margin: 5rem 0;">
  <a href="https://gitee.com/yv-deshui/projects" target="_blank" style="
    display: inline-block;
    padding: 16px 36px;
    background-color: #c7000b;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
  ">访问我的项目</a>
  <style>
    a:hover {
      background:#a10009 !important;
      transform:scale(1.05);
    }
  </style>
</div>

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
